<h1>Hello authenticated</h1>

<form id="myForm" name="myForm">
    <input id="fileTest" type="file" multiple class="bg-light" />
    <div class="form-group">
        <button id="fileSubmit" class="btn btn-primary">upload</button>
    </div>
</form>