<div class="row">
    <div id="filesTotalChart" class="col-12">
        <h3 class="text-center">Arquivos lidos e não lidos</h3>
        <canvas id="totalChartPrincipal" class="center"></canvas>
    </div>
</div>
