<div class="row">
    <div id="filesTotalChart" class="col-6">
        <h6>Total de arquivos por diretor</h6>
        <canvas id="totalChart"></canvas>
    </div>
    <div id="filesNotReaded" class="col-5">
        <h6>Total de arquivos não lidos por diretor</h6>
        <canvas id="totalNotReadChart"></canvas>
    </div>
</div>
<div class="row mt-5">
    <div id="filesReaded" class="col-11">
        <h6>Total de arquivos lidos por diretor</h6>
        <canvas id="totalReadChart"></canvas>
    </div>
</div>
