@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <main role="main" class="pb-3">

        <h1>Register</h1>

        <div class="row">
            <div class="col-md-4">
                <h4>Criar novo usuário.</h4>
                <div class="form-group m-2">
                    <label class="m-2">Nome de usuário</label>
                    <input type="text" class="form-control" id="InputUsernameRegister" placeholder="Digite o nome de usuário" name="user" required>
                </div>
                <div class="form-group m-2">
                    <label class="m-2">Email</label>
                    <input type="text" class="form-control" id="InputEmailRegister" placeholder="Digite o email" name="email" required>
                </div>
                <button id="RegisterSubmit" class="btn btn-primary m-2">Cadastrar</button>
                <div id="errorRegisterMessage" class="mt-2 mb-2">
                    <span class="alert-danger">Precisa preencher todos os campos.</span>
                </div>
                <p class="m-2">
                    <a href="../Login/LoginPage">Ja é cadastrado?</a>
                </p>
            </div>
        </div>
    </main>
</div>